# Interface utilisateur
streamlit==1.39.0
google-auth
google-auth-oauthlib
google-api-python-client
streamlit-oauth

# Intelligence artificielle
openai==1.51.2

# Configuration et environnement
python-dotenv==1.0.1
PyJWT==2.8.0
pytz==2024.2
tzdata==2024.2
tzlocal==5.2

# Requêtes HTTP
requests==2.32.3

# Analyse de données
pandas==2.2.3
numpy>=1.26.0
matplotlib==3.9.2
plotly==5.24.1
nltk>=3.8.1

# Traitement d'images
pillow>=10.4.0

# Validation et types
pydantic==2.9.2
typing-extensions==4.12.2

# Gestion des dates et temps
python-dateutil==2.9.0.post0

tzdata==2024.2
tzlocal==5.2

# Utilitaires
six==1.16.0
validators==0.34.0
watchdog==5.0.3
eth-account
web3
eth-account
web3
sqlalchemy